{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="alternate" type="application/rss+xml" title="RSS Feed for JonGlick.com" href="{{ uri.rootUrl(true) }}/blog.rss" />
    <link rel="alternate" type="application/atom+xml" title="RSS Feed for JonGlick.com" href="{{ uri.rootUrl(true) }}/blog.atom" />
    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://highlight/styles/solarized-dark.css', 98) %}
        {% do assets.addCss('theme://css/style.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

<div class="Layout">
  <div class="Layout-background Layout-background-1"></div>
  <div class="Layout-background Layout-background-2"></div>
  {% block sidebar %}
      <div class="Layout-sidebar">
          <a class="Identity" href="{{ base_url == '' ? '/' : base_url }}">
            <span>
              Jon Glick
            </span>
          </a>
          {% block header_navigation %}
          <nav class="Nav">
              {% include 'partials/navigation.html.twig' %}
              <div class="Nav-Icons">
                <a href="{{ uri.rootUrl(true) }}/blog.rss">{% include 'svg/rss.svg' %}</a>
                <a href="http://github.com/jonathanpglick">{% include 'svg/github.svg' %}</a>
              </div>
          </nav>
          {% endblock %}
      </div>
  {% endblock %}

  <div class="Layout-content">
    {% block body %}
      <div class="Content">

        <article class="Page {% if page.media.images %}has-post-thumbnail{% endif %}">

          <header class="Page-header">
            <div class="u-content-container">
              {% block page_header %}
                {% if page.header.link %}
                    <h1 class="Page-title">
                        {% if page.header.continue_link is not sameas(false) %}
                            <a href="{{ page.url }}"></a>
                        {% endif %}
                        <a href="{{ page.header.link }}">{{ page.title }}</a>
                    </h1>
                    {% else %}
                    <h1 class="Page-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
                {% endif %}
              {% endblock %}
            </div>
          </header>

          <div class="Page-content">
            <div class="u-content-container">
              {% block content %}{{page.content}}{% endblock %}
            </div>
          </div>

          <footer class="Page-footer">
            <div class="u-content-container">
              {% block page_footer %}{% endblock %}
            </div>
          </footer>

        </article>

      </div>
    {% endblock %}

    {% block footer %}
        <div class="Layout-footer">
            <div class="">
            </div>
        </div>
    {% endblock %}
  </div>

  {% block javascripts %}
      {% do assets.addJs('theme://highlight/highlight.pack.js', 100) %}
      {% do assets.addJs('theme://highlight/highlightjs-line-numbers.min.js', 100) %}
      {% do assets.addJs('theme://js/scripts.js', 100) %}
  {% endblock %}
  {{ assets.js() }}

  {% block bottom %}
      {{ assets.js('bottom') }}
  {% endblock %}


	{% if is_dev %}
	{% else %}
		<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

				ga('create', 'UA-10302662-1', 'auto');
				ga('send', 'pageview');

		</script>
	{% endif %}
</div>

</body>
