{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://highlight/styles/solarized-dark.css', 98) %}
        {% do assets.addCss('theme://css/style.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

{% endblock head%}
</head>
<body id="top" class="Layout {{ page.header.body_classes }}">

{% block sidebar %}
    <div class="Layout-sidebar">
        <a class="Identity" href="{{ base_url == '' ? '/' : base_url }}">
            {{ config.site.title }}
        </a>
        {% block header_navigation %}
        <nav class="Nav">
            {% include 'partials/navigation.html.twig' %}
        </nav>
        {% endblock %}
    </div>
{% endblock %}

<div class="Layout-content">
  {% block body %}
      <section id="body">
          <div class="">
          {% block content %}{% endblock %}
          </div>
      </section>
  {% endblock %}

  {% block footer %}
      <div class="Layout-footer">
          <div class="">
          </div>
      </div>
  {% endblock %}
</div>

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
    {% do assets.addJs('theme://highlight/highlight.pack.js', 100) %}
    {% do assets.addJs('theme://highlight/highlightjs-line-numbers.min.js', 100) %}
{% endblock %}
{{ assets.js() }}

<script>
  hljs.initHighlightingOnLoad();
  hljs.initLineNumbersOnLoad();
  $('p code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
</script>

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
