<article class="Page {% if page.media.images %}has-post-thumbnail{% endif %}">

{% if page.media.images %}
<div class="post-thumbnail">
        {{ page.media.images|first.cropZoom(1038,437).html(page.title, page.title, 'attachment-post-thumbnail wp-post-image') }}
</div>
{% endif %}

    <header class="Page-header">
      <div class="u-content-container">
        {% if page.header.link %}
            <h1 class="Page-title">
                {% if page.header.continue_link is not sameas(false) %}
                    <a href="{{ page.url }}"></a>
                {% endif %}
                <a href="{{ page.header.link }}">{{ page.title }}</a>
            </h1>
            {% else %}
            <h1 class="Page-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
        {% endif %}
      </div>
    </header>

    <div class="Page-content">
      <div class="u-content-container">
            {{ page.content }}
            {% if not truncate %}
            {% set show_prev_next = true %}
            {% endif %}
      </div>
    </div>

    <footer class="Page-footer">
      <div class="u-content-container">
        <span class="Page-footer-date">
            <time class="entry-date published updated" datetime="{{ page.date|date(config.system.pages.dateformat.short) }}">{{ page.date|date(config.system.pages.dateformat.default) }}</time> 
        </span>
        {% if page.header.author %}
            <span class="Page-footer-byline">
                <span class="author vcard">
                    {{ page.header.author }}
                </span>
            </span>
        {% endif %}
        {% if page.taxonomy.tag %}
            <span class="tags-links">
                {% for tag in page.taxonomy.tag %}
                    <a href="{{ base_url }}/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}{% if not loop.last %},{% endif %}</a>
                {% endfor %}
            </span>
        {% endif %}
      </div>
    </footer>
</article>

{% if show_prev_next %}
<nav class="navigation post-navigation" role="navigation">
    <h2 class="screen-reader-text">Page navigation</h2>
    <div class="nav-links">
        {% if not page.isLast %}
            <div class="nav-previous" {% if page.prevSibling.media.images %}style="background-image: url({{ page.prevSibling.media.images|first.cropZoom(1038,437).url }}");{% endif %}>
                <a href="{{ page.prevSibling.url }}" rel="prev">
                    <span class="meta-nav" aria-hidden="true" {% if page.prevSibling.media.images %}style="color: #fff;"{% endif %}>{{ 'PREVIOUS'|t }}</span>
                    <span class="screen-reader-text">{{ 'PREVIOUS'|t }}</span>
                    <span class="post-title" {% if page.prevSibling.media.images %}style="color: #fff;"{% endif %}>{{ page.prevSibling.header.title }}</span>
                </a>
            </div>
        {% endif %}
        {% if not page.isFirst %}
            <div class="nav-next" {% if page.nextSibling.media.images %}style="background-image: url({{ page.nextSibling.media.images|first.cropZoom(1038,437).url }}");{% endif %}>
                <a href="{{ page.nextSibling.url }}" rel="next">
                    <span class="meta-nav" aria-hidden="true" {% if page.nextSibling.media.images %}style="color: #fff;"{% endif %}>{{ 'NEXT'|t }}</span>
                    <span class="screen-reader-text">{{ 'NEXT'|t }}</span>
                    <span class="post-title" {% if page.nextSibling.media.images %}style="color: #fff;"{% endif %}>{{ page.nextSibling.header.title }}</span>
                </a>
            </div>
        {% endif %}
    </div>
</nav>
{% endif %}
